<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="full_name">Enter name: </label>
    <input type="text" th:field="*{full_name}" id="full_name"/>
    <div style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}">Name Error</div>
    <br/>
    <label for="age">Enter birth_date: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>